<!DOCTYPE html>
<html lang="en">
<head>
    <title>Navigation Bar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    <script src="https://kit.fontawesome.com/8c546601f6.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Ocr App</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/layout.css') }}">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>
</head>
<body>
<script>
    Dropzone.autoDiscover = false;
    //document onready
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 0
        })
        set_progress(0);
        $("#carouselExampleIndicators").hide();
        var myDropZone = new Dropzone("#dropzonetest", {
            url: "/",
            parralelUploads: 1,
            uploadMultiple: true,
            success: function (file, response) {
                $("#dropzone-full").hide();
                $("#carouselExampleIndicators").show();
                //for each response
                $.each(response, function (index, value) {
                    //append the response to the div
                    if (index === 0) {
                        $("#carousel-container").html(
                            '<div class="carousel-item active">' +
                            '<img class="d-block w-100" src="' + '/upload?file=' + value[0] + '">' +
                            '</div>'
                        );
                    } else {
                        $("#carousel-container").append(
                            '<div class="carousel-item">' +
                            '<img class="d-block w-100" src="' + '/upload?file=' + value[0] + '">' +
                            '</div>'
                        );
                    }
                });
            },
            acceptedFiles: '.png, .jpg, .jpeg, .pdf',
            autoProcessQueue: false,
        })
        $("#dropzone-submit").click(function () {
            myDropZone.processQueue();
        });
    });

    function add_row(text) {
        new_row_inner = " <div><label class='col-md-2'>*</label> <input type=\"text\" class=\"input-label mt-4 ml-2 col-md-4\"><i class=\"fa-solid fa-trash-can ml-2\"></i><br></div>".replace("*", text);
        $("#inputlabel").append(new_row_inner);
        $("#new-row-data").val("");
    }

    //onclick fa-trash
    $(document).on('click', '.fa-trash-can', function () {
        //get parent div and delete it
        $(this).parent().remove();
    });

    function set_progress(num) {
        $("#progress-bar").css("width", num + "%");
        $("#progress-bar").text(num + "%");
    }


</script>
<div class="flash-message-flask">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} w-100 text-center mt-2">
        {{ message }}
    </div>
    {% endfor %}
    {% else %}
    <span class="alert mt-2" style="visibility:hidden;"> Spacer</span>

    {% endif %}
    {% endwith %}
</div>
<div class="container-fluid" style="min-height: 500px;">
    <div class="row">
        <div class="col-md-6 col-sm-12 text-center">
            <div class="card" id="dropzone-full">
                <div class="card-body">
                    <h5 class="card-title">Upload Image/PDF</h5>
                    <div class="form-group">
                        <form action="/" method="post" id="dropzonetest" class="dropzone">


                        </form>
                        <div class="progress mt-4 mb-4">
                            <div id="progress-bar" role="progressbar" class="progress-bar" style="width: 0%;"
                                 aria-valuenow="0"
                                 aria-valuemin="0" aria-valuemax="100">0%
                            </div>
                        </div>
                        <input type="submit" id="dropzone-submit" class="btn btn-primary w-100" value="Submit"/>
                    </div>

                </div>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <button class="btn btn-primary mt-3 p-2 w-20" onclick="$('.carousel').carousel('prev')">Prev</button>
                <button class="btn btn-primary mt-3 p-2 w-20" onclick="$('.carousel').carousel('next')">Next</button>
                <div class="carousel-inner" id="carousel-container">

                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div id="inputlabel">

            </div>
            <div class="control mt-4">
                <button class="btn btn-primary mt-3 mb-2 col-md-2" onclick="add_row(this.nextElementSibling.value)">Add
                    Row
                </button>
                <input class="col-md-9 ml-3 p-2  mt-3 " id="new-row-data">
            </div>
            <div class="submit">
                <button type="submit" class="btn btn-primary w-100 mt-3">Add To Table</button>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <!--table bootstrap -->

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Img Name</th>
                    <th scope="col">Label 1</th>
                    <th scope="col">Label 2</th>
                    <th scope="col">Label 3</th>
                    <th scope="col">Label 4</th>
                    <th scope="col">Label 5</th>
                    <th scope="col">Label 6</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>xyz</td>
                    <td>xyz</td>
                    <td>xyz</td>
                    <td>xyz</td>
                    <td>xyz</td>
                    <td>xyz</td>
                    <td>xyz</td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-success col-md-1">Save To Csv</button>
        </div>
    </div>
</div>
</body>
</html>